watch_file flake.nix
watch_file flake.lock

if has nix_direnv_version; then
  use flake
else
  nix_command=""

  if has nix; then
    nix_command="$(command -v nix)"
  elif [[ -x "$HOME/.nix-profile/bin/nix" ]]; then
    nix_command="$HOME/.nix-profile/bin/nix"
  elif [[ -x "/nix/var/nix/profiles/default/bin/nix" ]]; then
    nix_command="/nix/var/nix/profiles/default/bin/nix"
  else
    log_error "nix binary not found on PATH, ~/.nix-profile/bin, or /nix/var/nix/profiles/default/bin"
    exit 1
  fi

  eval "$($nix_command print-dev-env --extra-experimental-features nix-command --extra-experimental-features flakes)"
fi
